@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Kranky');
@import url('https://fonts.googleapis.com/css?family=Lato');

html,
body {
  /*background-image: url('../img/dreams.jpg');*/
  /*background-size: cover;*/
  background-color: #C0C0B0;
  font-family: 'Lato', sans-serif;
  font-size: 18px !important;
}

h1 {
  opacity: 1;
  color: #fff;
  padding: 10px;
}

* {
  z-index: -1;
  position: relative;
}


#winter {
    display: none;
    position: absolute;
    z-index: 1;
    border: 1px solid red;
    background-color: transparent;
    height: 800px;
    
}

.heading {
  padding-top: 15px;
  background-color: #731509;
  width: 100%;
  height: 120px;
  color: #FAFBF7 !important;
  text-align: center;
  font-size: 40px;
  font-family: 'Kranky', cursive;
}

.add {
  text-align: center;
  margin: 50px;
}

.modalBtn {
  font-size: 20px !important;
  padding: 15px 15px 35px 15px;
  border: none;
  background-color: #468263;
  margin: 40px;
  margin-bottom: 0;
  color: #FAFBF7;
}

.modalBtn:hover {
  background-color: #5AB89F;
}

.todoStyle {
  margin: 0 auto;
  display: block;
  text-align: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For Desktops: */
    .todoStyle {
      margin: 0;
    }
}

.header {
  text-align: center;
  height: 10vh;
  background: rgba(122, 136, 160, 0.5)
}

.listDiv {
  top: 100px;
  background: #C19469;
  border-radius: 6px; 
  display: inline-block;
  padding: 10px 15px;
  margin: 10px 14px;
  margin-top: 0;
  width: 90%;
}

.todo {
  background: #FAFBF7;
  border: 1px solid #a9b1bc;
  margin: 8px 3px;
  padding: 5px;
  border-radius: 3px;
}

.todo p {
  padding: 5px 1px 10px 1px;
}

.tableList {
  margin: 10px;
}

.filterTag button {
  margin-top: 40px;
  font-size: 18px;
  
}

.filterTag button:hover, .filterTag button:focus, .filterTag button:active {
  border-color: #468263;
  color: #468263;
}

button {
  font-size: 16px !important;
}

.tabMain {
  font-size: 16px !important;
}

table {
  font-size: 16px !important;
}

tr:hover, tr:focus {
  background-color: red;
}

․ant-tabs-tab-active {
  background-color: #731509 !important;
}

․ant-tabs-tab {
  background:  #FAFBF7 !important;
}










