@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Kranky');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');


html,
body {
/*  background-image: url('src/img/dreams.jpg');
  background-size: cover;*/
  font-family: 'Caveat Brush', cursive;
  font-size: 18px !important;
}

h1 {
  color: #0d85aa !important;
  text-align: center;
  font-size: 50px;
  font-family: 'Kranky', cursive;
}

.add {
  text-align: center;
  margin: 50px;
}

.modalBtn {
  margin: 20px;
}

.todoStyle {
  margin: 0 auto;
  display: block;
  text-align: center;

}


.header {
  text-align: center;
  height: 10vh;
  background: rgba(122, 136, 160, 0.5)
}

h1 {
  opacity: 1;
  color: #fff;
  padding: 10px;
}

.listDiv {
  top: 100px;
  background: #e3ebf7;
  border: 1.3px solid #b7c0cc;
  border-radius: 6px; 
  display: inline-block;
  padding: 10px 15px;
  margin: 10px 14px;
  width: 90%;
}

.todo {
  background: #f7faff;
  border: 1px solid #a9b1bc;
  margin: 8px 3px;
  padding: 5px;
  border-radius: 3px;
}

.todo p {
  padding: 5px 1px 10px 1px;
}

.tableList {
  margin: 10px;
}

.filterTag button {
  margin-top: 40px;
  font-size: 18px;
  
}

.filterTag button:hover {
  background-color: #def4fc;
}

button {
  font-size: 16px !important;
}

.tabMain {
  font-size: 16px !important;
}

table {
  font-size: 16px !important;
}

.ant-tabs-tab {
  font-size: 16px !important; 
}